{% extends "base.html.twig" %}

{% form_theme formEvenement 'bootstrap_4_layout.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    <div class="example-wrapper">
    <h1>Création d'événement</h1>
     {{ form_start(formEvenement) }}

        {{ form_row(formEvenement.nom, {'attr': { 'placeholder' : "Nom de l'événément"} }) }}
        {{ form_row(formEvenement.image, {'attr': { 'placeholder' : "Image de l'événément"} }) }}
        {{ form_row(formEvenement.Lieu, {'attr': { 'placeholder' : "Lieu de l'événément"} }) }}
        {{ form_row(formEvenement.Prix, {'attr': { 'placeholder' : "Prix de l'événément"} }) }}
        {{ form_row(formEvenement.categorie) }}

        <button type="submit" class="btn btn-success">Ajouter</button>
     {{ form_end(formEvenement) }}
    </div> 
{% endblock %}