{% extends "base.html.twig" %}

{% block body %}
<style>
    .example-wrapper {
        font: 15px/1.5 sans-serif;
        text-align: left;
        padding: 100px;
    }

    .example-wrapper code {
        background: #F5F5F5;
        padding: 2px 4px;
    }
</style>

<div class="row example-wrapper">
    <ol class="breadcrumb">
        <li><a href="{{ path('app_home') }}">Accueil</a></li>
    </ol>
    <header class="page-header">
        <h1 class="page-title"> {{ evenements | length }} Evenements</h1>
    </header>
    {% for evenement in evenements %}
    <article>
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">
                    <h2>{{ evenement.nom }}</h2>
                    <div class="metadata">Créé le {{ evenement.createdAt | date("d/m/Y") }} à
                        {{ evenement.createdAt | date("H:i")}} dans la catégorie {{ evenement.categorie}}</div>
                    <h2>Lieu : {{ evenement.Lieu}}</h2>
                    <h2>Prix : {{ evenement.Prix}}</h2>
                    <div class="content">
                        <img src="{{ evenement.image }}" alt="">
                        <a href="{{ path('app_evenement_single', {'id' : evenement.id }) }}"
                            class="btn btn-info">Acheter un billet</a>
                        <a href="{{ path('app_evenement_single', {'id' : evenement.id }) }}"
                            class="btn btn-primary">Plus de détails</a>
                    </div>
                </div>
            </div>
        </div>
    </article>
    {% endfor %}
</div>
{% endblock %}