{% extends "base.html.twig" %}

{% block body %}
<style>
    .example-wrapper {
        margin: 0px 0px;
        font: 15px/1.5 sans-serif;
        text-align: left;
        padding: 100px
    }

    .example-wrapper code {
        background: #F5F5F5;
        padding: 2px 4px;
    }
</style>

<div class="row example-wrapper">
    <ol class="breadcrumb">
        <li><a href="{{ path('app_home') }}">Accueil</a></li>
    </ol>
    <article>
        <div class="col-xl-6">
            <div class="card">
                <div class="card-body">

                    <header class="page-header">
                        <h1 class="page-title">{{ evenements.nom}}</h1>
                    </header>
                    <div class="metadata">Créé le {{ evenements.createdAt | date("d/m/Y") }} à
                        {{ evenements.createdAt | date("H:i")}} dans la catégorie {{ evenements.categorie}}</div>
                    <h2>Lieu : {{ evenements.Lieu}}</h2>
                    <h2>Prix : {{ evenements.Prix}}</h2>
                    <div class="content">
                        <img src="{{ evenements.image }}" alt="">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. It has survived not only five
                            centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                            passages, and more recently with desktop publishing software like Aldus PageMaker including
                            versions of Lorem Ipsum.</p>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <a href="{{ path('app_evenement_edit', {'id' : evenements.id }) }}"
                                class="btn btn-info">Acheter le billet</a>
                            <a href="{{ path('app_evenement_edit', {'id' : evenements.id }) }}"
                                class="btn btn-primary">Modifier</a>
                            <a href="{{ path('app_evenement_delete', {'id' : evenements.id }) }}"
                                class="btn btn-danger">Supprimer</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </article>
</div>
{% endblock %}