{% extends "base.html.twig" %}

{% block body %}
<style>
    .example-wrapper {
        font: 15px/1.5 sans-serif;
        text-align: left;
        padding: 100px;
        background-color: #F1E9E7
    }

    .example-wrapper code {
        background: #F5F5F5;
        padding: 4px 4px;
    }

    .vich-image{
        .form-check {
            @extend .mt-3;  
        }

        img {

        }
    }
</style>

<div class="row example-wrapper">
    <ol class="breadcrumb">
        <li><a href="{{ path('app_home') }}">Accueil</a></li>
    </ol>
    <header class="page-header">
        <h1 class="page-title"> {{ evenements | length }} Evenements</h1>
    </header>
    {% for evenement in evenements %}
    <article>
        <div class="col-sm-4">
            <div class="card">
                <div class="card" style="width: 18rem;">
                    <img src="{{ vich_uploader_asset(evenement) }}" alt="" />
                    <div class="card-body">
                        <h4 class="card-title">{{ evenement.nom }}</h4>
                        <div class="metadata text-break">Créé le {{ evenement.createdAt | date("d/m/Y") }} à
                            {{ evenement.createdAt | date("H:i")}} dans la catégorie {{ evenement.categorie}}</div>
                        <h2>{{ evenement.Lieu}}</h2>
                        <h2>{{ evenement.Prix}}</h2>
                        <div class="content">
                            <a href="{{ path('app_evenement_single', {'id' : evenement.id }) }}"
                                class="btn btn-info">Acheter </a><a href="{{ path('app_evenement_single', {'id' : evenement.id }) }}"
                                class="btn btn-primary">Plus de détails</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
    {% endfor %}
    <hr>
</div>
{% endblock %}