<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}TicBaDjitte!{% endblock %}</title>

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" media="screen" href="css/family.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <!-- Custom styles for our template -->
    <link rel="stylesheet" href="assets/css/bootstrap-theme.css" media="screen">
    <link rel="stylesheet" href="assets/css/main.css">
    <!-- Meanmenu CSS -->
    <link rel="stylesheet" href="css/meanmenu.css">

    {% block stylesheets %}
    
    {% endblock %}
</head>
<body class="home">
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top headroom">
        <div class="container">
            <div class="navbar-header">
                <!-- Button for smallest screens -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-brand"><img  class="img-responsive" width="150" height="50" data-sticky-width="150" data-sticky-height="40" src="assets/images/logo_white.png" alt="Progressus HTML5 template"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right">
                    <li class="active"><a href="{{ path('app_home') }}">Accueil</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Billeteries <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Sport</a></li>
                            <li><a href="#">Transport</a></li>
                            <li><a href="#">Cinéma</a></li>
                            <li><a href="#">Autres</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ path('app_billeterie_create') }}">Créer une billeterie</a></li>
                    <li><a href="{{ path('app_evenement') }}">Evenements </a></li>
                    <li><a href="{{ path('app_evenement_create') }}">Créer un
                            événement </a></li>
                    <li><a href="{{ path('app_evenement_about') }}">A propos</a></li>
                    <li><a href="{{ path('app_evenement_contact') }}">Contact</a></li>
                    <li><a class="btn pull-right" href="{{ path('app_login') }}">Se connecter</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    <!-- /.navbar -->


    <main role="main">
        {% block body %}{% endblock %}
    </main>

    <footer id="footer" class="top-space">

        <div class="footer1">
            <div class="container">
                <div class="row">

                    <div class="col-md-3 widget">
                        <h3 class="widget-title">Contact</h3>
                        <div class="widget-body">
                            <p>778349907 / 779227465<br>
                                <a href="mailto:#">djibba16084@gmail.com.com</a><br>
                                <a href="mailto:#">messire@gmail.com</a><br>
                                <br>
                                1232 Pikine Rue 10, Dakar
                                <br>
                                Parcelle , Dakar
                            </p>
                        </div>
                    </div>

                    <div class="col-md-3 widget">
                        <h3 class="widget-title">Suivez nous</h3>
                        <div class="widget-body">
                            <p class="follow-me-icons">
                                <a href=""><i class="fa fa-twitter fa-2"></i></a>
                                <a href=""><i class="fa fa-dribbble fa-2"></i></a>
                                <a href=""><i class="fa fa-github fa-2"></i></a>
                                <a href=""><i class="fa fa-facebook fa-2"></i></a>
                            </p>
                        </div>
                    </div>

                    <div class="col-md-6 widget">
                        <h3 class="widget-title">Text widget</h3>
                        <div class="widget-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, dolores, quibusdam
                                architecto voluptatem amet fugiat nesciunt placeat provident cumque accusamus itaque
                                voluptate modi quidem dolore optio velit hic iusto vero praesentium repellat commodi ad
                                id expedita cupiditate repellendus possimus unde?</p>
                            <p>Eius consequatur nihil quibusdam! Laborum, rerum, quis, inventore ipsa autem repellat
                                provident assumenda labore soluta minima alias temporibus facere distinctio quas
                                adipisci nam sunt explicabo officia tenetur at ea quos doloribus dolorum voluptate
                                reprehenderit architecto sint libero illo et hic.</p>
                        </div>
                    </div>

                </div> <!-- /row of widgets -->
            </div>
        </div>

        <div class="footer2">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 widget">
                        <div class="widget-body">
                            <p class="simplenav">
                                <a href="{{ path('app_home') }}">Accueil</a> |
                                <a href="#">Billeterie</a> |
                                <a href="{{ path('app_evenement') }}">Evenements</a> |
                                <a href="{{ path('app_evenement_about') }}">A propos</a> |
                                <a href="{{ path('app_evenement_contact') }}">Contact</a> |
                                <b><a href="signup.html">Se connecter</a></b>
                            </p>
                        </div>
                    </div>

                    <div class="col-md-6 widget">
                        <div class="widget-body">
                            <p class="text-right">
                                Copyright &copy; 2020, Ba & Djitté. Designed by <a href="http://gettemplate.com/"
                                    rel="designer">gettemplate</a>
                            </p>
                        </div>
                    </div>

                </div> <!-- /row of widgets -->
            </div>
        </div>

    </footer>

    {% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
    </script>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="assets/js/headroom.min.js"></script>
    <script src="assets/js/jQuery.headroom.min.js"></script>
    <script src="assets/js/template.js"></script>{% endblock %}
</body>

</html>